Repository matt-mulligan/game-solvers: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, mypy, pytest

ruff-lint:
  name: 'Ruff: Linting Rules'
  entry: poetry run ruff check
  args:
  - --fix
  language: system
  require_serial: true

ruff-format:
  name: 'Ruff: Formatting Rules'
  entry: poetry run ruff format
  language: system
  require_serial: true

mypy:
  name: 'MyPy: Type Checking'
  entry: poetry run mypy
  language: system
  require_serial: true

pytest:
  name: 'Pytest: Unit Tests'
  entry: poetry run pytest ./tests/unit
  language: system
  require_serial: true

add CLI for wordle with unit tests coverage
  pyproject.toml
  src/game_solvers/__main__.py
  src/game_solvers/cli.py
  src/game_solvers/default_settings.py
  src/game_solvers/games/__init__.py
  src/game_solvers/games/wordle.py
  tests/unit/test_cli.py
  tests/unit/test_dummy.py
Due: ruff-lint, ruff-format, mypy, pytest

add common.resources for resource management. add dictionary for wordle to resources.
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/game_solvers/cli.py
  src/game_solvers/common/__init__.py
  src/game_solvers/common/resources.py
  src/game_solvers/games/wordle.py
  src/game_solvers/resources/data/example_data.csv
  src/game_solvers/resources/data/words_alpha_five_letters.txt
  tests/unit/common/test_resources.py
  tests/unit/test_cli.py
Due: ruff-lint, ruff-format, mypy, pytest

add word validator to wordle solver
  pyproject.toml
  src/game_solvers/games/wordle.py
  tests/unit/games/test_wordle.py
  tests/unit/test_cli.py
Due: ruff-lint, ruff-format, mypy, pytest

add distribution calculator and basic word scoring methods to wordle solver class
  src/game_solvers/games/wordle.py
  tests/unit/games/test_wordle.py
Due: ruff-lint, ruff-format, mypy, pytest

add implementation for solutions method of wordle solver, have not implemented reporting results with rich yet
  src/game_solvers/common/reporting.py
  src/game_solvers/games/wordle.py
  tests/fixtures/data/cutdown_dictionary.csv
  tests/unit/conftest.py
  tests/unit/games/test_wordle.py
Due: ruff-lint, ruff-format, mypy, pytest

added rich reporting for wordle game, first implementation complete
  src/game_solvers/common/report.py
  src/game_solvers/common/reporting.py
  src/game_solvers/games/wordle.py
  tests/unit/common/test_report.py
Due: ruff-lint, ruff-format, mypy, pytest

add nox as dev dependency and noxfile for unit tests
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/unit/common/test_resources.py
Due: pytest

Create pr_develop.yml
  .github/workflows/pr_develop.yml
Due: none

Create push_feature.yml
  .github/workflows/push_feature.yml
Due: none

correct name of github action job. update poetry lockfile
  .github/workflows/push_feature.yml
  poetry.lock
Due: none

update noxfile and github actions
  .github/workflows/pr_develop.yml
  .github/workflows/push_feature.yml
  noxfile.py
  src/game_solvers/cli.py
Due: ruff-lint, ruff-format, mypy, pytest

update github actions
  .github/workflows/pr_develop.yml
  .github/workflows/push_feature.yml
Due: none

add remaining github workflows
  .github/workflows/pr_master.yml
  .github/workflows/pr_release.yml
  .github/workflows/push_bugfix.yml
  .github/workflows/push_hotfix.yml
Due: none

Path conditions:
  ruff-lint: any of: ^src/.+\.py and \.py$
  ruff-format: any of: ^src/.+\.py and \.py$
  mypy: any of: ^src/.+\.py and \.py$
  pytest: any of: \.py$
